.mainFxmlClass {
    -fx-background-color:#cccccc;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
}

.hbox1{
    -fx-border-width:2;
    -fx-background-color:white;
    -fx-border-color:#2A5058;
}
.hbox2{
    -fx-border-width:2;
    -fx-background-color:linear-gradient(#61a2b1, #2A5058);;
    -fx-border-color:#2A5058;
}

.hbox2 .label{
    -fx-text-fill:white;
}

.label1{
    -fx-text-fill: #ff3333;
    -fx-font-weight: bold;
    
    -fx-font: 14px "Verdana";
}

.label
{
    -fx-text-fill: #2A5058;
    -fx-font-weight: bold;
    -fx-font: 16px "Verdana";
}